# ARCA Facturación Configuration
ARCA_ENV=homologacion
ARCA_CUIT=20111111112
ARCA_PTO_VTA=1
ARCA_CERT="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
ARCA_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
ARCA_RAZON_SOCIAL="By Leri Vendler"
ARCA_DOMICILIO="(domicilio comercial)"
ARCA_INICIO_ACTIVIDADES="2020-01-01"
ARCA_IIBB="Exento"
